# --- Serveur Web (FastAPI) ---
fastapi
fastapi[standard]
uvicorn
python-multipart
jinja2

# --- Outils C++ & Entraînement ---
cmake
pybind11
numpy
matplotlib

# --- Visualisation des entraînements (TensorBoard) ---
tensorboardX
tensorboard
